@font-face {
    font-family: 'Poppins Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Medium'), url('/font/poppins/Poppins-Medium.woff') format('woff');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-image: url(image/background.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

section {
    margin: 0 auto;
    max-width: 1170px;
}

section header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 40px;
    margin-bottom: 80px;*/
    /* en une ligne*/
    margin: 40px 0 80px 0;
}

nav a {
    margin-left: 50px;
    color: #fff;
    font-family: 'Poppins Medium';
    font-size: 18px;
}

nav a:nth-child(3) {
    color: #f9d410;
}

nav a:nth-child(7) {
    border: 1px solid #fff;
    border-radius: 28px;
    padding: 10px 27px;
}