@font-face {
    font-family: 'Poppins Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Medium'), url('font/poppins/Poppins-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Regular'), url('font/poppins/Poppins-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Oswald Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Oswald Regular'), url('font/Oswald/Oswald-Regular.woff') format('woff');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-image: url(image/background.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

section {
    margin: 0 auto;
    max-width: 1270px;
}

section header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 40px;
    margin-bottom: 80px;*/
    /* en une ligne*/
    margin: 40px 0 60px 0;
}

nav a {
    margin-left: 50px;
    color: #fff;
    font-family: 'Poppins Medium';
    font-size: 18px;
    position: relative;
}

nav a:before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 4px;
    border-radius: 15px;
    background: #0b77f3;
    transition: all 0.5s ease;
}

nav a:hover:before {
    width: 100%;
}

nav a:before {
    left: 50%;
    transform: translateX(-50%);
}

nav a:nth-child(3):before {
    background: #f9d410;
    width: 100%;
    bottom: -5px;
    opacity: 1;
}

nav a:nth-child(3):hover:before {
    bottom: 0px;
    opacity: 1;
}

nav a:nth-child(3) {
    color: #f9d410;
}

nav a:nth-child(6) {
    border: 1px solid #fff;
    border-radius: 28px;
    padding: 10px 27px;
}

.container-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1250px;
}

.left {
    width: 750px;
    height: 50%;
    color: #fff;
}

.left span {
    display: inline-block;
    color: #000;
    border: 1px solid #fce402;
    border-radius: 28px;
    padding: 5px 27px;
    background-color: #fce402;
    font-family: 'Poppins Medium';
    font-weight: bold;
}

.right img {
    width: 500px;
    margin-bottom: 50px;
}

h2 {
    font-size: 65px;
    font-family: 'Oswald Regular';
    line-height: 1.15;
    margin: 20px 0 30px 0;
}

p {
    margin-bottom: 30px;
    font-size: 18px;
    font-family: 'Poppins Regular';
}

.left .btn {
    display: inline-block;
    border: 1px solid #0b77f3;
    border-radius: 28px;
    padding: 15px 27px;
    background-color: #0b77f3;
    font-family: 'Poppins Regular';
    color: #fff;
    text-transform: capitalize;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 15%;
    background-color: #fff;
    background-image: linear-gradient(to right, #fdd52c, #fa2b9e);
    max-width: 1400px;
    margin: 150px auto;
    height: 115px;
}

.icom-item a img {
    width: 30px;
}

.contact {
    display: block;
    width: 500px;
}

.contact p {
    margin: 10px 30px 10px 10px;
}

.icom-item img {
    width: 40px;
    margin-left: 20px;
}

@media (max-width: 584px) {
    section {
        max-width: 60%;
    }
    .container-items {
        max-width: 100%;
        flex-direction: column;
    }
    .left {
        width: 100%;
        color: #fff;
    }
    footer {
        max-width: 100%;
    }
}