* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(135deg, #71b7e6, #9b59d6);
}

.container {
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before {
    content: "";
    position: absolute;
    left: 41.2%;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6, #9b59d6);
}

.title {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding-top: 50px;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

form .usr_detail .input_box {
    height: 45px;
    margin: 50px 0 15px 0;
    margin-bottom: 15px;
}

form .usr_detail .input_box .details {
    display: inline-block;
    font-weight: bold;
    text-transform: capitalize;
}

form .usr_detail .input_box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 3px;
    transition: all 0.5s ease;
}

.usr_detail .input_box input:focus,
.usr_detail .input_box input:valid {
    border-color: #9b59d6;
}

form .button {
    height: 45px;
    width: 100px;
    margin: 45px 0;
}

form .button input {
    width: 100%;
    height: 100%;
    outline: 0;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: px;
    background-image: linear-gradient(135deg, #71b7e6, #9b59d6);
}

form .button input:hover {
    background-image: linear-gradient(-135deg, #71b7e6, #9b59d6);
}

@media (max-width: 584px) {
    .container {
        max-width: 100%;
    }
    form .usr_detail .input_box {
        margin-bottom: 15px;
        width: 100%;
    }
    .container form .usr_detail {
        max-height: 300px;
        overflow-y: scroll;
    }
}