* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-image: url(image/background.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 50px;
}

.container {
    width: 1400px;
    background-color: rgba(255, 255, 255);
    border-radius: 20px;
    margin: 50px;
    box-shadow: 20px 0 15px 10px #00000090;
}

.container-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1250px;
    padding-top: 40px;
}

.left {
    color: rgb(0, 0, 0);
    width: 500px;
}

.right {
    width: 500px;
}

.right img {
    width: 550px;
}

.container2 {
    width: 1400px;
    background-color: rgba(255, 255, 255);
    border-radius: 20px;
    margin: 50px;
    box-shadow: 20px 0 15px 10px #00000090;
}

.container-item2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1250px;
    padding-top: 40px;
}

.left2 {
    width: 550px;
    position: relative;
}

.image__img {
    display: block;
    width: 100%;
}

.img__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.img__overlay>* {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.img__overlay:hover {
    opacity: 1;
}

.img__overlay:hover>* {
    transform: translateY(0);
}

.title {
    font-size: 2em;
    font-weight: bold;
}

.txt {
    font-size: 1.25em;
    margin-top: 0.25em;
}

.right2 {
    width: 500px;
}

.left2 img {
    color: rgb(0, 0, 0);
    width: 425px;
}

.container3 {
    width: 1400px;
    background-color: rgba(255, 255, 255);
    border-radius: 20px;
    margin: 50px;
    box-shadow: 20px 0 15px 10px #00000090;
}

.container-item3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1250px;
    padding-top: 40px;
}

.left3 {
    color: rgb(0, 0, 0);
    width: 500px;
}

.right3 {
    width: 500px;
}

.right3 img {
    width: 550px;
}