@font-face {
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Regular'), url('/font/poppins/Poppins-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Poppins Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Medium'), url('/font/poppins/Poppins-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Oswald Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Oswald Regular'), url('/font/Oswald/Oswald-Regular.woff') format('woff');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-image: url(image/background.png);
    width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 50px;
}

.container {
    width: 1400px;
    background-color: rgba(255, 255, 255);
    background-image: linear-gradient(to right, #fa2b9e, #ffffff);
    border-radius: 20px;
    margin: 50px;
    box-shadow: 20px 0 15px 10px #00000090;
}

.container-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1250px;
    padding-top: 20px;
}

.left {
    color: rgb(0, 0, 0);
    width: 500px;
}

.left p {
    font-size: 18px;
    font-family: 'Oswald Regular';
}

.right {
    width: 520px;
    position: relative;
}

.image__img {
    display: block;
    width: 100%;
}

.img__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.img__overlay--blur {
    backdrop-filter: blur(5px);
    border-width: 20px;
}

.img__overlay>* {
    transform: translateY(25px);
    transition: transform 0.25s;
}

.img__overlay:hover {
    opacity: 1;
}

.img__overlay:hover>* {
    transform: translateY(0);
}

.title {
    font-size: 2em;
    padding: 10px;
    font-weight: bold;
    font-family: 'Poppins Medium';
    text-transform: uppercase;
}

.txt {
    font-size: 1.25em;
    margin-top: 0.25em;
    font-family: 'Poppins Medium';
}

.right img {
    width: 550px;
}

.container2 {
    width: 1400px;
    background-color: rgba(255, 255, 255);
    background-image: linear-gradient(to right, #ffffff, #fdd52c);
    border-radius: 20px;
    margin: 50px;
    box-shadow: 20px 0 15px 10px #00000090;
}

.container-item2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1250px;
    padding-top: 40px;
}

.left2 {
    width: 550px;
    position: relative;
}

.right2 p {
    font-size: 18px;
    font-family: 'Oswald Regular';
}

.image__img2 {
    display: block;
    width: 100%;
}

.img__overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.img__overlay--blur2 {
    backdrop-filter: blur(5px);
}

.img__overlay2>* {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.img__overlay2:hover {
    opacity: 1;
}

.img__overlay2:hover>* {
    transform: translateY(0);
}

.title2 {
    font-size: 2em;
    padding: 10px;
    font-weight: bold;
    font-family: 'Poppins Medium';
    text-transform: uppercase;
}

.txt2 {
    font-size: 1.25em;
    margin-top: 0.25em;
    font-family: 'Poppins Medium';
}

.right2 {
    width: 500px;
}

.left3 p {
    font-size: 18px;
    font-family: 'Oswald Regular';
}

.left2 img {
    color: rgb(0, 0, 0);
    width: 425px;
}

.container3 {
    width: 1400px;
    background-color: rgba(255, 255, 255);
    background-image: linear-gradient(to right, #00aeff, #ffffff);
    border-radius: 20px;
    margin: 50px;
    box-shadow: 20px 0 15px 10px #00000090;
}

.container-item3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1250px;
    padding-top: 40px;
}

.left3 {
    color: rgb(0, 0, 0);
    width: 500px;
}

.right3 {
    width: 600px;
    position: relative;
}

.image__img3 {
    width: 500px;
}

.img__overlay3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.img__overlay3:hover {
    opacity: 1;
}

.img__overlay3--blur3 {
    backdrop-filter: blur(5px);
}

.img__overlay3>* {
    transform: translateY(25px);
    transition: transform 0.25s;
}

.img__overlay3:hover>* {
    transform: translateY(0);
}

.title3 {
    font-size: 2em;
    font-weight: bold;
    padding: 10px;
    font-family: 'Poppins Medium';
    text-transform: uppercase;
}

.txt3 {
    font-size: 1.25em;
    margin-top: 0.25em;
    text-transform: capitalize;
    font-family: 'Poppins Medium';
}

.right3 img {
    width: 570px;
}

span {
    margin: 30px 0 0 0;
    border-radius: 28px;
    padding: 10px 50px;
    background-color: #fff;
    background-image: linear-gradient(to right, #FFE652, #ff4949);
}

span a {
    text-transform: capitalize;
    color: rgb(0, 0, 0);
    font-family: 'Poppins Regular';
}

@media (max-width: 584px) {
    .container {
        width: 100%;
    }
    .container-item {
        max-width: 100%;
        flex-direction: column;
        padding: 50px;
    }
    .container2 {
        width: 100%;
    }
    .container-item2 {
        max-width: 100%;
        flex-direction: column;
    }
    .container3 {
        width: 100%;
    }
    .container-item3 {
        max-width: 100%;
        flex-direction: column;
    }
}