* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-image: url(image/background.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.container {
    width: 1400px;
    background-color: rgba(255, 255, 255);
    border-radius: 20px;
    margin-bottom: 200px;
}

.container-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1250px;
    padding-top: 40px;
}

.left {
    color: rgb(0, 0, 0);
    width: 500px;
}

.right {
    width: 500px;
}

.right img {
    width: 550px;
}