* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-image: url(image/background.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.container {
    width: 1400px;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
}